    
    .falling-stars {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
        background-color: black; 
    }

    .star {
        position: absolute;
        top: -10px;
        width: 3px;
        height: 3px;
        background: white;
        border-radius: 50%;
        animation: fall 5s linear infinite;
        opacity: 0.7;
    }

    @keyframes fall {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(100vh);
            opacity: 0;
        }
    }

    .falling-stars .star:nth-child(1) { left: 10%; animation-duration: 4s; }
    .falling-stars .star:nth-child(2) { left: 30%; animation-duration: 6s; }
    .falling-stars .star:nth-child(3) { left: 50%; animation-duration: 5s; }
    .falling-stars .star:nth-child(4) { left: 70%; animation-duration: 4.5s; }
    .falling-stars .star:nth-child(5) { left: 90%; animation-duration: 6.5s; }
    .falling-stars .star:nth-child(6) { left: 20%; animation-duration: 4.5s; }
    .falling-stars .star:nth-child(7) { left: 60%; animation-duration: 5.5s; }
    .falling-stars .star:nth-child(8) { left: 40%; animation-duration: 4.5s; }
    .falling-stars .star:nth-child(9) { left: 80%; animation-duration: 6s; }
    .falling-stars .star:nth-child(10) { left: 90%; animation-duration: 5s; }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #000000;
        color: #dddbdb;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .heart {
        animation: blink 1s linear infinite;
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }
    @keyframes blink {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% { opacity: 0; }
    }
    
    .birthdayCard {
        position: relative;
        width: 590px;
        height: 900px;
        cursor: pointer;
        transform-style: preserve-3d;
        transform: perspective(2500px);
        transition: 1s;
        margin: 100px auto; 
    }

    .birthdayCard:hover {
        transform: perspective(2500px) rotate(5deg);
        box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
    }

    .birthdayCard:hover .cardFront {
        transform: rotateY(-160deg); 
    }

    .birthdayCard:hover .happy {
        visibility: hidden; 
    }

    .cardFront {
        position: relative;
        background-color: #fff;
        width: 500px; 
        height: 700px; 
        overflow: hidden;
        transform-origin: left;
        box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 30px 0 50px rgba(0,0,0,0.4);
        transition: .6s;
    }

    .happy {
        font-family: Tahoma, sans-serif;
        text-align: center;
        margin: 30px; 
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        transition: .1s;
    }

    .balloons {
        position: absolute;
    }

    .balloonOne, .balloonTwo, .balloonThree, .balloonFour {
        position: absolute;
        width: 150px; 
        height: 170px; 
        border-radius: 50%;
    }

    .balloonOne { background-color: rgb(239, 71, 111, 0.7); left: -30px; top: 80px; }
    .balloonTwo { background-color: rgb(6, 214, 160, 0.7); left: 100px; top: 50px; }
    .balloonThree { background-color: rgb(255, 209, 102, 0.7); left: 230px; top: 80px; }
    .balloonFour { background-color: rgb(17, 138, 178, 0.7); left: 350px; top: 50px; }

    .balloonOne:before, .balloonTwo:before, .balloonThree:before, .balloonFour:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 200px;
        background-color: #ffd166;
        top: 170px;
        left: 72px;
    }

    .balloonOne:after, .balloonTwo:after, .balloonThree:after, .balloonFour:after {
        content: "";
        position: absolute;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        top: 169px;
        left: 66px;
    }

    .balloonOne:after { border-bottom: 15px solid #ef476f; }
    .balloonTwo:after { border-bottom: 15px solid #06d6a0; }
    .balloonThree:after { border-bottom: 15px solid #ffd166; }
    .balloonFour:after { border-bottom: 15px solid #118ab2; }

    .cardInside {
        position: absolute;
        background-color: #fff;
        width: 500px; 
        height: 700px; 
        z-index: -1;
        left: 0;
        top: 0;
        box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
    }

    p {
        font-family: 'Dancing Script', cursive;
        margin: 120px;
        color: #333; 
        font-size: 20px; 
        line-height: 1.5;
    }
    
    .name {
        position: absolute;
        left: 300px;
        top: 400px;
        color: #333;
    }

    .back {
        font-family: Tahoma, sans-serif;
        color: #333;
        text-align: center;
        margin: 50px; 
        outline-color: #333;
        outline-style: dotted;
    }
    .contenedor {
        display: flex; 
        justify-content: center;
        align-items: center; 
        padding: 30px 50px;
    }
    
    .btn {
        padding: 10px 20px; 
        font-size: 16px; 
        cursor: pointer;
    }
    
